
<div="cta">Call To Action Goes Here</div>

<div class="container">
<div class="row row-centered">
<div class="col-xs-4 col-centered"><div class="item"><div class="content">
Column 1
<div ng-repeat="honor in honors">
{{honor.HonorName}}
{{honor.Text}}
<img ng-src="{{honor.ImageData}}" alt="">
</div>
</div></div></div>
<!-- <div class="col-xs-4 col-centered"><div class="item"><div class="content">
Column 2
</div></div></div>
<div class="col-xs-4 col-centered"><div class="item"><div class="content">
Column 3
</div></div></div> -->
</div>
</div>
